
* {
    outline: none;
  }
  
  html,
  body {
    height: 100%;
    min-height: 100%;
  }
  
  body {
    margin: 0;
    background-color: #ffd8d8;
  }
  
  .tb {
    font-size: 50px;
    display: table;
    width: 100%;
  }
  
  .td {
    font-size: 50px;
    display: table-cell;
    vertical-align: middle;
  }
  
  input,
  button {
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    font-size: 50px;
  }
  
  #cover {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    width: 950px;
    padding: 5px;
    margin: -53px auto 0 auto;
    background-color:rgb(247, 144, 30);
    border-radius: 20px;
    box-shadow: 0 20px 40px rgb(169, 99, 19), 0 0 0 20px #ffffffeb;
    font-size: 50px;
    transform: scale(0.3);
  }
  
  form {
    font-size: 40px;
    height: 96px;
  }
  
  input[type="text"] {
    width: 100%;
    height: 96px;
    font-size: 40px;
    line-height: 1;
   
  }
  
  input[type="text"]::placeholder {
    color: #fff;
  }
  
  #s-cover {
    width: 25px;
    padding-left: 35px;
  }
  
  button {
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
  }
  
  #s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
  }
  
  button span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
  }
  
  button span:before,
  button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
  }
  
  #s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
  }
  
  #s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
  }
  
  #s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
  }
  
  #s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
  }
  #s-cover:hover button span:before,
  #s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #fff;
  }
  
.Baslik {
    background-color:  rgb(247, 144, 30);
    height: 1.5in;
    width: 100%;
    border-radius: 50px;

}
.profil-sil{
    
    position: absolute;
    
   padding-bottom: 0.9%;
    margin-left: 720px;
    transform: translate(-00%, 200%);
    -ms-transform: translate(-0%, -1000%);
    text-align: center;
    
    opacity: 1;
    
    background-color: rgb(250, 167, 73);
    border: 2px solid rgb(247, 144, 30);
    border-radius: 255px;
    width:15px;
    height:15px;
    line-height:25px;
    font-size:35px;
    color:white;
    transition: .5s ease;
    font-weight:bold;
    text-shadow:#2d4251 5px 5px 5px;
}
.profil-sil:hover{
    border: 2px solid rgb(134, 11, 11);
    text-shadow: rgb(134, 11, 11) 5px 5px 5px;}
    .sil{
        
        color: rgb(134, 11, 11);
        transform: translate(-900%, -15,40%);
        -ms-transform: translate(-900%, -900%);
    }
.Logo-Alani {
    float: left;
    height: 1.5in;
    width: 25%;

}
.Logo {
   margin-left: 30%;
   

}
.Baslik-Alani{
    float: left;
    width: 50%;
    height: 1.5in;
}
.Baslik-{
    font-family: 'Dancing Script', cursive;
    margin-left: 30%;
    margin-top: 2%;
    color: white;
    font-size: 1in;
}
.emote{
    
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: 'Dancing Script', cursive;
    float: left;
    width: 25%;
    height: 1.5in;
}
.emotealan{
    height: 64px;
    width: 64px;
    position: absolute;
    top: 6.3%;
    margin-left: 8.7%;
}
.aaa{
    height: 80px;
    position: absolute;
}
.altmenu {
    text-align: center;
    border-radius: 25px ;
    top: 60px;
    left: -38px;
    background-color: rgb(172, 41, 35);
    position: relative;
    width: 150px;
    transition: ease 500ms;
    opacity: 0;
    visibility: hidden;
}

.emotealan:hover  .altmenu{
    
    top: 70px;
    opacity: 1;
    visibility: visible;
}
.altmenu li a {
    
    color: rgb(247, 144, 30);
}
.altmenu li:hover a{
    
        color: rgb(172, 41, 35);
    
}
.altmenu li{
    border-radius: 35px;
    transition: ease 700ms;
}
.altmenu li:hover{
    
    transition: ease 700ms;
 background-color: rgb(247, 144, 30);  
}


.altmenu a {
    
    font-size: 25px;
    font-weight: 500;
    line-height: 45px;
    
    text-decoration: none;
    
}

.profil {
    opacity: 1;
    transition: ease 500ms;

}
.profil:hover {
    opacity: 0.8;
}
.main {
    background-color:  rgb(247, 144, 30);
    height: 9.5in;
    width: 70%;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    
}
.user-icon {
    float: left;
    height: 3.6in;
    width: 40%;

}

.user-icon-png {

margin-left: 12.5%;
margin-top: 7.5%;
}

.Bilgiler {
    float: left;
    height: 347px;
    width: 60%;
    font-family: 'Architects Daughter', cursive;

}
.kullanici-adi{
    height: 100px;
    font-size: 500%;
  
    
}

.kullanici-ad{
    text-align: center;
    color: rgb(172, 41, 35);
}

.kullanici-ayar-icon{
    opacity: 1;
    transition: ease 500ms;
    margin-left: 17%;  
}
.kullanici-ayar-icon:hover{
    opacity: 0.9;
}

.ana-bilgiler{
    font-size: 38px;
    color: white;
}

.izlemefavori{
    float: left;
    height: 1.6in;
    width: 100%;
    height: 374.4px;
}
.izleme {
    margin-top: 53.5px;
width: 45%;
height: 2.5in;
float: left;
background-color: rgb(172, 41, 35);
border-radius: 50px;
margin-left: 3%;
}
.izleme-{
    font-family: 'Dancing Script', cursive;
    margin-left: 36%;
    margin-top: 2%;
    color: white;
    font-size: 0.3in;
    height: 0.25in;
}

.favori{
    margin-top: 53.5px;
    margin-left: 4%;
    float: left;
width: 45%;
background-color: rgb(22, 41, 35);
border-radius: 50px;
height: 2.5in;
}
.favori-{
    font-family: 'Dancing Script', cursive;
    margin-left: 36%;
    margin-top: 2%;
    color: white;
    font-size: 0.3in;
    height: 0.25in;
}

.izlemefilmbox{
float: left;
height: 1.6in;
width: 100%;

}
.izlemefilmbox1{
    float: left;
    height: 1.6in;
    width: 30%;
    padding-left: 4.2%;
}

.izleme1{
    transition-duration: 0.5s;
    opacity: 1;
height: 1.8in;
margin-left: 6%;
background-color: white;
backface-visibility: hidden;
transition: .5s ease;
text-decoration: none;
}
.izleme1:hover {
    opacity: 0.5;
}

.middle {
    
    opacity: 0.1;
    position: absolute;
    height: 1.1in;
    margin-left: 4.4%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    transition: .9s ease;
  }
  .izlemefilmbox1:hover .middle{
      opacity: 1;
      
  }
  .izlemefilmbox1:hover .text{
    font-size: 11.8px;
    
}
  .izleme1:hover {
    opacity: 0.5;
}
  
.text {
    
    background-color: rgb(247, 144, 30);
    color: white;
    font-size: 11px;
    padding: 10px 10px;
    transition: .9s ease;
  }

.izleme2{
height: 1.8in;
margin-left: 6%;
}

.izlemefilmbox2{
    float: left;
    height: 1.6in;
    width: 30%;
    padding-left: 4.2%;
}

.izleme2{
    transition-duration: 0.5s;
    opacity: 1;
height: 1.8in;
margin-left: 6%;
background-color: white;
backface-visibility: hidden;
transition: .5s ease;

}
.izleme2:hover {
    opacity: 0.5;
}

.middle2 {
    
    opacity: 0;
    position: absolute;
    height: 1.1in;
    margin-left: 4.4%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    transition: .9s ease;
  }
  .izlemefilmbox2:hover .middle2{
      opacity: 1;
  }
  .izlemefilmbox2:hover .text{
    font-size: 12px;
    
}
  .izleme2:hover {
    opacity: 0.5;
}

.moreizleme{
    
    float: left;
    height: 1.6in;
    width: 20%;
    padding-left: 4.2%;
}

.moreizlemechild{
    opacity: 1;
    margin-top: 25%;
    background-color: rgb(247, 144, 30);
    border: 8px solid rgba(255, 255, 255, .5);
    border-radius: 255px;
    width:90px;
    height:90px;
    line-height:20px;
    font-size:10px;
    color:white;
    transition: .5s ease;
    font-weight:bold;
    text-shadow:#2d4251 5px 5px 5px;
}
.moreizlemechild:hover{
    background-color: rgb(172, 41, 35);
    text-shadow: rgb(134, 11, 11) 5px 5px 5px;
}
.noktalar{
    font-family: 'Dancing Script', cursive;
    color: rgb(172, 41, 35);
    padding: 17px 25px;
    font-size: 65px;
    transition: .2s ease;
}
.moreizlemechild:hover .noktalar{
    color: rgb(247, 144, 30);
}
.favorifilmbox{
    height: 1.6in;
    width: 100%;
    float: left;
}



.Site-Bottom{
    width: 100%;
    height: 0.5in;
    background-color: rgb(247, 144, 30);
    border-radius: 20px;
    margin-top: 2%;
}
.Iletişim-Text{
    width: 10%;
    float: left;
    font-family: 'Architects Daughter', cursive;
    color: white;
    line-height: 0.5in;
    margin-left: 18%;
}
.Icons{
    width: 25%;
    height: 0.5in;
    float: left;
}

.Icon{
    float: left;
    margin-right: 24px;
    margin-top: 12px;
}  

.favorisema {
    padding-top:  0.2in;
    margin-left: 2%;
    width: 96%;
    height: 7.5in;
}
.main-baslik{
width: 100%;
    height: 1in;
}
.favori-baslik{
    text-align: center;
 height: 100%;
 width: 100%;   
 font-family: 'Architects Daughter', cursive;
 color:  rgb(172, 41, 35);
 font-size: 65px;
}
.favori-arkaplan{
    height: 100%;   
    margin-left: 5%;
    width: 90%;
    border-radius: 50px;
    background-color:  rgb(172, 41, 35);
}

.favori-ekleme-arkaplan{
    width: 100%;
    
    height: 14%;
}
.favori-ekleme{
height: 70%;
width: 70%;
background-color: rgb(247, 144, 30);;
border-radius: 50px;
position: relative;
top: 15%;
margin-left: 15%;
}
.favori-ekle-yazı{
    float: left;
    margin-left: 15%;
    position: relative;
    top: 27%;
    height: 50%;
    width: 20%;
    font-family: 'Architects Daughter', cursive;
    color:  rgb(172, 41, 35);
 font-size: 25px;
}
.favori-ekle-secenekler{
    
    margin-top: 1%;
    float: left;
    height: 50%;
    width: 35%;
    position: relative;
    top: 27%;
}
.favori-ekle-secenekler-arkaplan{
    background-color: rgb(172, 41, 35);
     color: rgb(247, 144, 30);
      font-family: 'Architects Daughter', cursive;
      width: 100%;
}
.favori-ekle-buton{
    font-family: 'Architects Daughter', cursive;    
    margin-left: 2%;
    margin-top: 3.8%;
    float: left;
    position: relative;
    top: 27%;
    width: 15%;
    border-radius: 50px;
    background-color: rgb(172, 41, 35); 
    color:  rgb(247, 144, 30);;
}
.favorieklenenfilmler{
    width: 100%;
    height: 6.3in;
}
.favorieklenenfilmlerarkaplan{
    margin-top: 5%;
    height: 100%;   
    margin-left: 2.5%;
    width: 95%;
    border-radius: 50px;
    background-color:  rgb(247, 144, 30);;
}
.filmler-arkaplan{
    top: 3%;
    position: relative;
   
    height: 93%;   
    margin-left: 2.5%;
    width: 95%;
}
.film-arkaplan1{
    float: left;
    opacity: 1;
    height: 49.3%;    
    width: 18%;
}
.filmx1{
    transition: 0.5s;
    width: 147.68px;
    height: 221.51px;
    opacity: 1;
}
.filmx1:hover  {
    opacity: 0.5;
}

.orta{
    text-decoration: none;
    opacity: 0;
    position: absolute;
    height: 1.1in;
    width: 1.3in;
    margin-left: 4.4%;
    transform: translate(-37%, -60%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    transition: .9s ease;
}
.film-arkaplan1:hover .orta{
    transition: .9s ease;
    opacity: 1;
    transform: translate(-37%, -80%)
}
.film-arkaplan2:hover .orta{
    opacity: 1;
}
.film-arkaplan3:hover .orta{
    opacity: 1;
    transform: translate(-20%, -70%)
}
.film-arkaplan4:hover .orta{
    opacity: 1;
    transform: translate(-20%, -70%)                
}.film-arkaplan5:hover .orta{
    opacity: 1;
    transform: translate(-20%, -70%)
}
.film-arkaplan6:hover .orta{
    opacity: 1;
    transform: translate(-20%, -70%)
}

.kekxt {
    
    background-color: rgb(247, 144, 30);
    color: white;
    font-size: 12px;
    padding: 10px 50px;
    transition: .9s ease;
  }
.favori-cikar{
    
    position: absolute;
   padding-bottom: 0.9%;
    margin-left: 17.5%;
    transform: translate(-100%, -1040%);
    -ms-transform: translate(-100%, -100%);
    text-align: center;
    
    opacity: 1;
    
    background-color: rgb(172, 41, 35);
    border: 2px solid rgb(172, 41, 35);
    border-radius: 255px;
    width:10px;
    height:10px;
    line-height:20px;
    font-size:10px;
    color:white;
    transition: .5s ease;
    font-weight:bold;
    text-shadow:#2d4251 5px 5px 5px;
}
.favori-cikar:hover{
    border: 2px solid rgb(250, 167, 73);
    text-shadow: rgb(134, 11, 11) 5px 5px 5px;}
    .cikar{
        
        color: rgb(250, 167, 73);
        transform: translate(-900%, -15,40%);
        -ms-transform: translate(-900%, -900%);
    }
    
.film-arkaplan2{
    margin-left: 2.5%;
    float: left;
    
    height: 39.3%;    
    width: 18%;
}

.film-arkaplan3{
    margin-left: 2.5%;
    float: left;
    
    height: 39.3%;    
    width: 18%;
}.film-arkaplan4{
    margin-left: 2.5%;
    float: left;
    
    height: 39.3%;    
    width: 18%;
}.film-arkaplan5{
    margin-left: 2.5%;
    float: left;
    
    height: 39.3%;    
    width: 18%;
}
.arabosluk{
    float: left;
    width: 100%;
    height: 3%;
}
.film-arkaplan6{
    
    float: left;
    
    height: 39.3%;    
    width: 18%;
}

