<link
href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap"
rel="stylesheet"
/>
<header class="mb-auto">
  <div class="Baslik">
    <div class="Logo-Alani">
        <a routerLink="/">
            <img class="Logo" src="https://i.hizliresim.com/7x2hluz.gif">
        </a>
    </div>
    <div class="Baslik-Alani">
        <a style="text-decoration: none;" routerLink="/">
            <div class="Baslik-">
                PopCorn
            </div>
        </a>
    </div>
    <div class="emote">
        <div class="emotealan">
            <a class="aaa" href="">
                <img class="profil" src="https://i.hizliresim.com/k5yoss0.png" alt="">
                <div class="altmenu">
                    <li>
                        <a routerLink="/urun-ekle">
                            Film Ekle
                        </a>
                    </li>
                    <li>
                        <a routerLink="/">
                            Çıkış Yap
                        </a>
                    </li>
                </div>
            </a>
        </div>
    </div>
</div>
  </header>