.Baslik {
  background-color:  rgb(247, 144, 30);
  height: 1.5in;
  width: 100%;
  border-radius: 50px;

}

.Logo-Alani {
  float: left;
  height: 1.5in;
  width: 25%;

}
.Logo {
 margin-left: 30%;
 

}
.Baslik-Alani{
  float: left;
  width: 50%;
  height: 1.5in;
}
.Baslik-{
  font-family: 'Dancing Script', cursive;
  margin-left: 30%;
  margin-top: 2%;
  color: white;
  font-size: 1in;
}
.emote{
  
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  font-family: 'Dancing Script', cursive;
  float: left;
  width: 25%;
  height: 1.5in;
}
.emotealan{
  height: 64px;
  width: 64px;
  position: absolute;
  top: 6.3%;
  margin-left: 8.7%;
}
.aaa{
  height: 80px;
  position: absolute;
}
.altmenu {
  text-align: center;
  border-radius: 25px ;
  top: 0px;
  left: -38px;
  background-color: rgb(172, 41, 35);
  position: relative;
  width: 150px;
  transition: ease 500ms;
  opacity: 0;
  visibility: hidden;
}

.emotealan:hover  .altmenu{
  
  top: 10px;
  opacity: 1;
  visibility: visible;
}
.altmenu li a {
  
  color: rgb(247, 144, 30);
}
.altmenu li:hover a{
  
      color: rgb(172, 41, 35);
  
}
.altmenu li{
  border-radius: 35px;
  transition: ease 700ms;
}
.altmenu li:hover{
  
  transition: ease 700ms;
background-color: rgb(247, 144, 30);  
}


.altmenu a {
  
  font-size: 25px;
  font-weight: 500;
  line-height: 45px;
  
  text-decoration: none;
  
}

.profil {
  opacity: 1;
  transition: ease 500ms;

}
.profil:hover {
  opacity: 0.8;
}

.main {
  background-color:  rgb(247, 144, 30);
  height: 9.5in;
  width: 70%;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  
}
.user-icon {
  float: left;
  height: 3.6in;
  width: 40%;

}

.user-icon-png {

margin-left: 12.5%;
margin-top: 7.5%;
}

.Bilgiler {
  float: left;
  height: 347px;
  width: 60%;
  font-family: 'Architects Daughter', cursive;

}
.kullanici-adi{
  height: 100px;
  font-size: 500%;

  
}

.kullanici-ad{
  text-align: center;
  color: rgb(172, 41, 35);
}

.kullanici-ayar-icon{
  opacity: 1;
  transition: ease 500ms;
  margin-left: 17%;  
}
.kullanici-ayar-icon:hover{
  opacity: 0.9;
}

.ana-bilgiler{
  font-size: 38px;
  color: white;
}