
    <div class="Menu-Alani">
        <!--Menü alanı-->
        <a class="A" href="boks/web proje/katagoriler.php?katagori=Aksiyon">
            <div class="menu">
                Aksiyon
            </div>
        </a>
        <a class="A" href="boks/web proje/katagoriler.php?katagori=Animasyon">
            <div class="menu">
                Animasyon
            </div>
        </a>
        <a class="A" href="boks/web proje/katagoriler.php?katagori=Bilim">
            <div class="menu">
                Bilim Kurgu
            </div>
        </a>
        <a class="A" href="boks/web proje/katagoriler.php?katagori=Komedi">
            <div class="menu">
                Komedi
            </div>
        </a>
        <a class="A" href="boks/web proje/katagoriler.php?katagori=Korku">
            <div class="menu">
                Korku
            </div>
        </a>
        <a class="A" href="boks/web proje/katagoriler.php?katagori=Macera">
            <div class="menu">
                Macera
            </div>
        </a>
        <a class="A" href="boks/web proje/katagoriler.php?katagori=Romantik">
            <div class="menu">
                Romantik
            </div>
        </a>
        <a class="A" href="boks/web proje/katagoriler.php?katagori=Western">
            <div class="menu">
                Western
            </div>
        </a>
    </div>
